# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
cub3d/textures/wood.xpm
cub3d/textures/texture_north.xpm
cub3d/textures/redbrick.xpm
cub3d/textures/purplestone.xpm
cub3d/textures/pillar.xpm
cub3d/textures/mossy.xpm
cub3d/textures/greystone.xpm
cub3d/textures/grey_stone.xpm
cub3d/textures/greenlight.xpm
cub3d/textures/fuhrer.xpm
cub3d/textures/eagle.xpm
cub3d/textures/colorstone.xpm
cub3d/textures/bluestone.xpm
cub3d/textures/barrel.xpm
cub3d/cub3D
*.cub
cub3d/maps/map.cub
